extends ../layout

mixin header(keys)
    each key in keys
        th.head #{key}
block content
    table(border="2")
        caption.title Contact(s) List
        tr
            +header(['ID', 'First Name', 'Last Name', 'Title', 'Company', 'Job Title', 'Primary Contact Number', 'Other Contact Number', 'Primary Email Address', 'Other Email Address', 'Groups'])

        each contact in result.docs
            tr
                td#data #{contact._id}
                td#data #{contact.firstname}
                td#data #{contact.lastname}
                td#data #{contact.title}
                td#data #{contact.company}
                td#data #{contact.jobtitle}
                td#data #{contact.primarycontactnumber}
                td#data #{contact.othercontactnumbers.join("\n")}
                td#data #{contact.primaryemailaddress}
                td#data #{contact.otheremailaddresses}
                td#data #{contact.groups.join("\n")}